#header {
    color: aliceblue;
    background-color: gold;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 10px;
    font-family: 'Times New Roman';
    text-align: center;
    border-style: groove;
}

#add {
    color: lightgray;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 10px;
    font-family: 'Times New Roman';
    text-align: center;
}

.input {
    color: slategray;
    background-color: lightgrey;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 10px;
    font-family: 'Times New Roman';
    height: 100px;
    width: 400px;
    font-size: 18px;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button:active {
    box-shadow: 0 5px gray;
    transform: translateY(4px);
}

.button:active {
    box-shadow: 0 5px gray;
    transform: translateY(4px);
}

.button {
    color: white;
    background-color: gold;
    border-style: double;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 10px;
    font-family: 'Times New Roman';
    height: 30px;
    width: 200px;
    font-size: 15px;
}

.taskView {
    color: darkslategrey;
    background-color: gold;
    margin-right:50%;
    margin-left: 50%;
    border-radius: 10px;
    font-family: 'Times New Roman';
    padding: 15px;
    font-size: 18px;
    float:left;
    border-style: solid;
    border-color: olive;
    border-width: 5px;
    box-sizing: border-box;
    width: 350px;
    height: 190px;
    margin: 10px; 

}

.taskTitle {
    color: darkgoldenrod;
    background-color: rgb(7, 54, 54);
    margin-right: 42%;
    margin-left: 42%;
    border-radius: 10px;
    font-family: 'Times New Roman';
    /* height: px; */
    /* width: 250px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#status {
    color: black;
    background-color: darkslategrey;
    font-family: 'Times New Roman';
}

.icon {
    margin-right: 50%;
}